[package]
name = "piper-sdk"
version = "0.0.1"
edition = "2024"
authors = ["Ming Yang"]
license = "MIT"
description = "High-performance cross-platform (Linux/Windows/macOS) Rust SDK for AgileX Piper Robot Arm with support for high-frequency force control"
repository = "https://github.com/vivym/piper-sdk-rs"
readme = "README.md"
keywords = ["robot", "piper", "can", "arm", "control"]
categories = ["hardware-support"]
exclude = ["tmp/", "docs", "target/"]

[dependencies]
arc-swap = "1.8.0"
bilge = "0.3.0"
bytes = "1.11.0"
crossbeam-channel = "0.5.15"
rusb = "0.9.4"
thiserror = "2.0.17"
tracing = "0.1.44"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
nix = { version = "0.30", features = ["uio", "socket", "poll"] }
socketcan = "3.5"

[dev-dependencies]
cargo-husky = { version = "1", default-features = false, features = ["user-hooks"] }
ctrlc = "3.5"
